<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Emoticons</key>
    <dict>
      <key>smiley1.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)</string>
          <string>:-)</string>
        </array>
        <key>Name</key>
        <string>happy</string>
      </dict>
      <key>smiley10.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:P</string>
          <string>:p</string>
          <string>:-p</string>
          <string>:-P</string>
        </array>
        <key>Name</key>
        <string>tongue</string>
      </dict>
      <key>smiley100.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)]</string>
        </array>
        <key>Name</key>
        <string>on the phone</string>
      </dict>
      <key>smiley101.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-c</string>
		  <string>:-C</string>
		  <string>:c</string>
		  <string>:C</string>
        </array>
        <key>Name</key>
        <string>call me</string>
      </dict>
      <key>smiley102.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>~X(</string>
		  <string>~x(</string>
        </array>
        <key>Name</key>
        <string>at wits' end</string>
      </dict>
      <key>smiley103.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-h</string>
		  <string>:-H</string>
		  <string>:h</string>
		  <string>:H</string>
        </array>
        <key>Name</key>
        <string>wave</string>
      </dict>
      <key>smiley104.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-t</string>
		  <string>:-T</string>
		  <string>:t</string>
		  <string>:T</string>
        </array>
        <key>Name</key>
        <string>time out</string>
      </dict>
      <key>smiley105.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-&gt;</string>
        </array>
        <key>Name</key>
        <string>daydreaming</string>
      </dict>
      <key>smiley106.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-??</string>
        </array>
        <key>Name</key>
        <string>I don't know</string>
      </dict>
      <key>smiley107.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>%-(</string>
        </array>
        <key>Name</key>
        <string>not listening</string>
      </dict>
      <key>smiley108.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:o3</string>
        </array>
        <key>Name</key>
        <string>puppy dog eyes</string>
      </dict>
      <key>smiley11.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-*</string>
          <string>:*</string>
        </array>
        <key>Name</key>
        <string>kiss</string>
      </dict>
      <key>smiley12.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=((</string>
        </array>
        <key>Name</key>
        <string>broken heart</string>
      </dict>
      <key>smiley13.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-O</string>
		  <string>:-o</string>
          <string>:O</string>
		  <string>:o</string>
        </array>
        <key>Name</key>
        <string>surprise</string>
      </dict>
      <key>smiley14.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>X(</string>
		  <string>x(</string>
		  <string>X-(</string>
		  <string>x-(</string>
        </array>
        <key>Name</key>
        <string>angry</string>
      </dict>
      <key>smiley15.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:&gt;</string>
		  <string>:-&gt;</string>
        </array>
        <key>Name</key>
        <string>smug</string>
      </dict>
      <key>smiley16.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>B-)</string>
		  <string>b-)</string>
		  <string>B)</string>
		  <string>b)</string>
        </array>
        <key>Name</key>
        <string>cool</string>
      </dict>
      <key>smiley17.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-S</string>
		  <string>:-s</string>
		  <string>:S</string>
		  <string>:s</string>
        </array>
        <key>Name</key>
        <string>worried</string>
      </dict>
      <key>smiley18.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>#:-S</string>
          <string>#:-s</string>
        </array>
        <key>Name</key>
        <string>whew!</string>
      </dict>
      <key>smiley19.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:)</string>
          <string>&gt;:-)</string>
        </array>
        <key>Name</key>
        <string>devil</string>
      </dict>
      <key>smiley2.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:(</string>
          <string>:-(</string>
        </array>
        <key>Name</key>
        <string>sad</string>
      </dict>
      <key>smiley20.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:((</string>
          <string>:-((</string>
          <string>:'(</string>
          <string>:'-(</string>
        </array>
        <key>Name</key>
        <string>crying</string>
      </dict>
      <key>smiley21.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:))</string>
          <string>:-))</string>
        </array>
        <key>Name</key>
        <string>laughing</string>
      </dict>
      <key>smiley22.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:|</string>
          <string>:-|</string>
        </array>
        <key>Name</key>
        <string>straight face</string>
      </dict>
      <key>smiley23.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>/:)</string>
          <string>/:-)</string>
        </array>
        <key>Name</key>
        <string>raised eyebrow</string>
      </dict>
      <key>smiley24.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=))</string>
        </array>
        <key>Name</key>
        <string>rolling on the floor</string>
      </dict>
      <key>smiley25.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>O:-)</string>
          <string>O:)</string>
		  <string>o:-)</string>
		  <string>o:)</string>
        </array>
        <key>Name</key>
        <string>angel</string>
      </dict>
      <key>smiley26.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-B</string>
		  <string>:-b</string>
		  <string>:B</string>
		  <string>:b</string>
        </array>
        <key>Name</key>
        <string>nerd</string>
      </dict>
      <key>smiley27.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=;</string>
        </array>
        <key>Name</key>
        <string>talk to the hand</string>
      </dict>
      <key>smiley28.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>I-)</string>
		  <string>i-)</string>
        </array>
        <key>Name</key>
        <string>sleepy</string>
      </dict>
      <key>smiley29.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-|</string>
        </array>
        <key>Name</key>
        <string>rolling eyes</string>
      </dict>
      <key>smiley3.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;)</string>
          <string>;-)</string>
        </array>
        <key>Name</key>
        <string>winking</string>
      </dict>
      <key>smiley30.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>L-)</string>
		  <string>l-)</string>
        </array>
        <key>Name</key>
        <string>loser</string>
      </dict>
      <key>smiley31.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-&amp;</string>
        </array>
        <key>Name</key>
        <string>sick</string>
      </dict>
      <key>smiley32.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-$</string>
		  <string>:$</string>
        </array>
        <key>Name</key>
        <string>don't tell anyone</string>
      </dict>
      <key>smiley33.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[-(</string>
        </array>
        <key>Name</key>
        <string>not talking</string>
      </dict>
      <key>smiley34.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:O)</string>
		  <string>:o)</string>
        </array>
        <key>Name</key>
        <string>clown</string>
      </dict>
      <key>smiley35.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-}</string>
        </array>
        <key>Name</key>
        <string>silly</string>
      </dict>
      <key>smiley36.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&lt;:-P</string>
          <string>&lt;:-p</string>
        </array>
        <key>Name</key>
        <string>party</string>
      </dict>
      <key>smiley37.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(:|</string>
        </array>
        <key>Name</key>
        <string>yawn</string>
      </dict>
      <key>smiley38.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=P~</string>
		  <string>=p~</string>
        </array>
        <key>Name</key>
        <string>drooling</string>
      </dict>
      <key>smiley39.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-?</string>
        </array>
        <key>Name</key>
        <string>thinking</string>
      </dict>
      <key>smiley4.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:D</string>
          <string>:-D</string>
		  <string>:d</string>
		  <string>:-d</string>
        </array>
        <key>Name</key>
        <string>big grin</string>
      </dict>
      <key>smiley40.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>#-o</string>
          <string>#-O</string>
        </array>
        <key>Name</key>
        <string>d'oh</string>
      </dict>
      <key>smiley41.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=D&gt;</string>
		  <string>=d&gt;</string>
        </array>
        <key>Name</key>
        <string>applause</string>
      </dict>
      <key>smiley42.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-SS</string>
          <string>:-ss</string>
        </array>
        <key>Name</key>
        <string>nailbiting</string>
      </dict>
      <key>smiley43.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>@-)</string>
        </array>
        <key>Name</key>
        <string>hypnotized</string>
      </dict>
      <key>smiley44.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:^o</string>
		  <string>:^O</string>
        </array>
        <key>Name</key>
        <string>liar</string>
      </dict>
      <key>smiley45.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-w</string>
          <string>:-W</string>
        </array>
        <key>Name</key>
        <string>waiting</string>
      </dict>
      <key>smiley46.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-&lt;</string>
        </array>
        <key>Name</key>
        <string>sigh</string>
      </dict>
      <key>smiley47.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:P</string>
          <string>&gt;:p</string>
        </array>
        <key>Name</key>
        <string>phbbbbt</string>
      </dict>
      <key>smiley48.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&lt;):)</string>
        </array>
        <key>Name</key>
        <string>cowboy</string>
      </dict>
      <key>smiley49.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:@)</string>
        </array>
        <key>Name</key>
        <string>pig</string>
      </dict>
      <key>smiley5.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;;)</string>
        </array>
        <key>Name</key>
        <string>batting eyelashes</string>
      </dict>
      <key>smiley50.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>3:-O</string>
          <string>3:-o</string>
        </array>
        <key>Name</key>
        <string>cow</string>
      </dict>
      <key>smiley51.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:(|)</string>
        </array>
        <key>Name</key>
        <string>monkey</string>
      </dict>
      <key>smiley52.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>~:&gt;</string>
        </array>
        <key>Name</key>
        <string>chicken</string>
      </dict>
      <key>smiley53.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>@};-</string>
        </array>
        <key>Name</key>
        <string>rose</string>
      </dict>
      <key>smiley54.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>%%-</string>
        </array>
        <key>Name</key>
        <string>good luck</string>
      </dict>
      <key>smiley55.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>**==</string>
        </array>
        <key>Name</key>
        <string>flag</string>
      </dict>
      <key>smiley56.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(~~)</string>
        </array>
        <key>Name</key>
        <string>pumpkin</string>
      </dict>
      <key>smiley57.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>~O)</string>
		  <string>~o)</string>
        </array>
        <key>Name</key>
        <string>coffee</string>
      </dict>
      <key>smiley58.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>*-:)</string>
        </array>
        <key>Name</key>
        <string>idea</string>
      </dict>
      <key>smiley59.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-X</string>
		  <string>8-x</string>
        </array>
        <key>Name</key>
        <string>skull</string>
      </dict>
      <key>smiley6.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:D&lt;</string>
		  <string>&gt;:d&lt;</string>
        </array>
        <key>Name</key>
        <string>big hug</string>
      </dict>
      <key>smiley60.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=:)</string>
        </array>
        <key>Name</key>
        <string>bug</string>
      </dict>
      <key>smiley61.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;-)</string>
        </array>
        <key>Name</key>
        <string>alien</string>
      </dict>
      <key>smiley62.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-L</string>
          <string>:L</string>
		  <string>:-l</string>
		  <string>:l</string>
        </array>
        <key>Name</key>
        <string>frustrated</string>
      </dict>
      <key>smiley63.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[-O&lt;</string>
        </array>
        <key>Name</key>
        <string>praying</string>
      </dict>
      <key>smiley64.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>$-)</string>
        </array>
        <key>Name</key>
        <string>money eyes</string>
      </dict>
      <key>smiley65.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-"</string>
        </array>
        <key>Name</key>
        <string>whistling</string>
      </dict>
      <key>smiley66.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>b-(</string>
		  <string>B-(</string>
        </array>
        <key>Name</key>
        <string>feeling beat up</string>
      </dict>
      <key>smiley67.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)&gt;-</string>
        </array>
        <key>Name</key>
        <string>peace sign</string>
      </dict>
      <key>smiley68.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[-X</string>
		  <string>[-x</string>
        </array>
        <key>Name</key>
        <string>shame on you</string>
      </dict>
      <key>smiley69.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>\:D/</string>
		  <string>\:d/</string>
        </array>
        <key>Name</key>
        <string>dancing</string>
      </dict>
      <key>smiley7.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-/</string>
          <string>:/</string>
        </array>
        <key>Name</key>
        <string>confused</string>
      </dict>
      <key>smiley70.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:/</string>
        </array>
        <key>Name</key>
        <string>bring it on</string>
      </dict>
      <key>smiley71.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;))</string>
        </array>
        <key>Name</key>
        <string>hee hee</string>
      </dict>
      <key>smiley72.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o-&gt;</string>
		  <string>O-&gt;</string>
        </array>
        <key>Name</key>
        <string>hiro</string>
      </dict>
      <key>smiley73.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o=&gt;</string>
		  <string>O=&gt;</string>
        </array>
        <key>Name</key>
        <string>billy</string>
      </dict>
      <key>smiley74.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o-+</string>
		  <string>O-+</string>
        </array>
        <key>Name</key>
        <string>april</string>
      </dict>
      <key>smiley75.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(%)</string>
        </array>
        <key>Name</key>
        <string>yin yang</string>
      </dict>
      <key>smiley76.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-@</string>
        </array>
        <key>Name</key>
        <string>chatterbox</string>
      </dict>
      <key>smiley77.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>^:)^</string>
        </array>
        <key>Name</key>
        <string>not worthy</string>
      </dict>
      <key>smiley78.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-j</string>
		  <string>:-J</string>
        </array>
        <key>Name</key>
        <string>oh go on</string>
      </dict>
      <key>smiley79.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(*)</string>
        </array>
        <key>Name</key>
        <string>star</string>
      </dict>
      <key>smiley8.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:x</string>
          <string>:X</string>
        </array>
        <key>Name</key>
        <string>love struck</string>
      </dict>
      <key>smiley9.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:"&gt;</string>
        </array>
        <key>Name</key>
        <string>blushing</string>
      </dict>
      <key>smiley109.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>X_X</string>
          <string>x_x</string>
        </array>
        <key>Name</key>
        <string>I don't want to see</string>
      </dict>
      <key>smiley110.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:!!</string>
        </array>
        <key>Name</key>
        <string>hurry up!</string>
      </dict>
      <key>smiley111.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>\m/</string>
		  <string>\M/</string>
        </array>
        <key>Name</key>
        <string>rock on!</string>
      </dict>
      <key>smiley112.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-q</string>
		  <string>:-Q</string>
        </array>
        <key>Name</key>
        <string>thumbs down</string>
      </dict>
      <key>smiley113.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-bd</string>
		  <string>:-Bd</string>
		  <string>:-bD</string>
		  <string>:-BD</string>
        </array>
        <key>Name</key>
        <string>thumbs up</string>
      </dict>
      <key>smiley114.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>^#(^</string>
        </array>
        <key>Name</key>
        <string>it wasn't me</string>
      </dict>
      <key>pirate.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:ar!</string>
        </array>
        <key>Name</key>
        <string>pirate</string>
      </dict>
      <key>smiley115.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:bz</string>
        </array>
        <key>Name</key>
        <string>bee</string>
      </dict>
      <key>transformer.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[..]</string>
        </array>
        <key>Name</key>
        <string>transformer</string>
      </dict>
    </dict>
    <key>Service Class</key>
    <string>Yahoo</string>
  </dict>
</plist>
